@model WebApplication2.Models.IndexModel

@{
    ViewBag.Title = "Home Page";
}




<div class="jumbotron text-center">
    <h1>TAD - Tag and address</h1>
</div>

<div class="row block">
    <h2>Email</h2>
    <div class="form-group">
        <label class="control-label"> Send From: </label>
        <div class="">
            @Model.SendFrom
        </div>
    </div>

    <div class="form-group">
        <label class="control-label"> Subject: </label>
        <div class="">
            @Model.SubjectEmail
        </div>
    </div>

    <div class="form-group">
        <label for="comment"> Body: </label>
        <div class="">
            <textarea class="form-control" rows="10" id="comment" style="overflow:auto">@Model.ContentEmail</textarea>
            @*@Html.TextAreaFor(vm => vm.ContentEmail, new { @class = "form-control fond1" })*@
        </div>
    </div>
</div>

<div class="row block">
    <h2>Recast</h2>
    <h3>Intent</h3>
    <table class="table" style="width:100%">
        <tr>
            <th>Sentence</th>
            <th>Intent</th>
            <th>Confidence</th>
        </tr>
        @for (int i = 0; i < Model.ReponseRecast.Count; i++)
        {
            <tr>
                <td>@Model.ReponseRecast[i].sentence</td>
                <td>@Model.ReponseRecast[i].intent.slug</td>
                <td>@WebApplication2.Models.IndexModel.convertDecimalView(Model.ReponseRecast[i].intent.confidence)</td>
            </tr>
        }
    </table>
    <h3>Entities</h3>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2"> List of entities: </label>
            <div class="control-label col-sm-10" style="text-align: left;">
                @foreach (var item in Model.Entities)
            {
                if (item.number > 0)
                {
                        @item.EntitiesText();
                }
            }
            </div>
        </div>
    </form>
    <div class="form-group">
        @*<label class="control-label col-sm-2">List of entities:  </label>
        <div class="control-label col-sm-6" style="text-align: left;">
            @foreach (var item in Model.Entities)
            {
                if (item.number > 0)
                {
                    @item.EntitiesText();
                }
            }
        </div>*@

        <table class="table" style="width:100%">
            <tr>
                <th>Entity</th>
                <th>Value</th>
                <th>Confidence</th>
            </tr>
            @for (int i = 0; i < Model.Entities.Count; i++)
            {
                for (int j = 0; j < Model.Entities[i].raw.Count; j++)
                {
                    <tr>
                        <td>@Model.Entities[i].name</td>
                        <td>@Model.Entities[i].raw[j].value</td>
                        <td>@WebApplication2.Models.IndexModel.convertDecimalView(Model.Entities[i].raw[j].confidence)</td>
                    </tr>
                }
            }
        </table>


    </div>
</div>


@*<div class="row block">
        <h2>Watson</h2>
        <h3>Intent</h3>
        <table class="table" style="width:100%">
            <tr>
                <th>Intent</th>
                <th>Confience</th>
            </tr>
            @for (int i = 0; i < Model.ReponseWatson.intents.Count; i++)
            {
                <tr>
                    <td>@Model.ReponseWatson.intents[i].intent</td>
                    <td>@Model.ReponseWatson.intents[i].confidence</td>
                </tr>
            }
        </table>

    </div>*@


<div class="row block">
    <h2>Watson</h2>
    <h3>Intent</h3>
    <table class="table" style="width:100%">
        <tr>
            <th>Intent - Classifier</th>
            <th>Confidence</th>
        </tr>
        @for (int i = 0; i < Model.ReponseWatsonClassifier.classes.Count; i++)
        {
            <tr>
                <td>@Model.ReponseWatsonClassifier.classes[i].class_name</td>
                <td>@WebApplication2.Models.IndexModel.convertDecimalView(Model.ReponseWatsonClassifier.classes[i].confidence)</td>
            </tr>
        }
    </table>

</div>


<div class="row block">
    <h2>Results</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2"> Statut: </label>
            <div class="control-label col-sm-10" style="text-align: left;">
                @Model.Result.statut
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2"> Intent: </label>
            <div class="control-label col-sm-6" style="text-align: left;">
                @Model.Result.intent
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2"> Confidence: </label>
            <div class="control-label col-sm-6" style="text-align: left;">
                @WebApplication2.Models.IndexModel.convertDecimalView(Model.Result.confidence)
            </div>
        </div>
    </form>

    @*<label class="control-label"> Statut: @Model.Result.statut </label>
        <label class="control-label"> Intent: @Model.Result.intent </label>
        <label class="control-label"> Confidence: @Model.Result.confidence </label>*@

    <table class="table" style="width:100%">
        <tr>
            <th>Intent</th>
            <th>Confience</th>
        </tr>
        @for (int i = 0; i < Model.Result.ListResultMerge.Count; i++)
        {
            <tr>
                <td>@Model.Result.ListResultMerge[i].intent</td>
                <td>@WebApplication2.Models.IndexModel.convertDecimalView( @Model.Result.ListResultMerge[i].confidence)</td>
            </tr>
        }
    </table>
</div>


